#url{
    width: 500px;
}
.result-box{
    margin-top: 20px;
    min-width: 1000px;
}
.banner-title{
    font-size: 16px;
    line-height: 16px;
    color: #666;
    border-left: 4px solid #0e84b5;
    padding-left: 15px;
    margin: 15px 0 15px;
}
.release-box{
    width: 400px;
    float: left;
}
.preview-box{
    position: relative;
}
#preview{
    width: 400px;
    height: 650px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.prev-cover{
    background: rgba(125,125,125,0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/*edit-box*/
.edit-box{
    float: left;
    margin-left: 40px;
    width: 600px;
}
.banner-result-t span.red{
    margin-left: 8px;
}
.result-item{
    margin-bottom: 10px;
}
.result-item>label>span{
    display: inline-block;
    float: left;
    width: 90px;
}

.edit-error{
    margin-left: 15px;
}
