/*=================admin/info.css && user-info.css===============*/

.result_title h3{
    font-size: 20px;
    font-weight: 400;
    color: #428bca;
    padding-left: 10px;
    border-left: 4px solid #428bca;
    height: 20px;
    line-height: 20px;
}
.block-box{
    display: flex;
}
.block{
    flex: 1;
    height: 200px;
    /*background: #ccc;*/
    text-align: center;
}
.block_t{
    color: #666;
    font-size: 14px;
    line-height: 60px;
    margin-top: 30px;
}
.block_num{
    color: #333;
    /*font-weight: ;*/
    font-size: 43px;
}
/**/
.echarts-box section{
    margin-bottom: 30px;
}
.echarts{
    width: 100%;
    height: 360px;
    margin: 15px 0;
}
.echarts-opt{
    margin: 15px 10px;
}
.time-label{
    margin-left: 15px;
}
.time-label input{
    width: 150px;
    padding: 4px 5px;
}


/*================= user-info.css ===============*/
.range-label input{
    width: 200px;
}